<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/home.css">
  <title>Health Healing Junction Appointment Website</title>
</head>

<body>
    <header>
        <nav class="navbar">
          <div class="container">
            <div class="logo">
              <img src="../images/logo.jpeg" alt="">
            </div>
            <div class="menu-toggle">
              <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-links">
              <li><a href="./views/article.html">Home</a></li>
              <li><a href="./views/about.html">About Us</a></li>
              <li><a href="./views/services.html">Services</a></li>
              <li><a href="./views/contact.html">Contact</a></li>
            </ul>
            <a href="#" class="action-btn" id="login">Login</a>
          </div>
          <div class="dropdown-menu">
            <ul class="dropdown-links">
              <li><a href="./views/article.html">Home</a></li>
              <li><a href="./views/about.html">About Us</a></li>
              <li><a href="./views/services.html">Services</a></li>
              <li><a href="./views/contact.html">Contact</a></li>
            </ul>
            <a href="#" class="action-btn" id="login-mobile">Login</a>
          </div>
        </nav>
      </header>
       

  <section class="content">
    <div class="container">
      <h1>Welcome to Health Healing Junction</h1>
      <p>Book your health check appointment online today!</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2023 Health Check. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>

<script src="../scripts/home.js"></script>
