<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/login.css">
    <title>Login to Heal Junction</title>
</head>
<body>
    <div class="container">
        <form class="form-1">
          <h1>Login to Heal Junction</h1>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" required />
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
          <span>Forgot Password</span>
          <button onclick="login()">Login</button>
  
          <!-- .........///sign-up///.......... -->
  
          <a href="./signup.html"><p>Or Make an account</p></a>
        </form>
      </div>
</body>
<script src="../Scripts/login.js"></script>
</html>