<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/nav.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="../Styles/myAppointments.css">
    <title>My Appointments</title>
</head>

<body>
    <header class="header">
        <div id="homeImg">
            <a href="../index.html"><img src="../Images/logo.jpeg" alt="Health junction" class="logo"></a>
        </div>

        <nav class="navbar">
            <ul class="navbar-list">
                <li><a class="navbar-link" href="#">About</a></li>
                <li><a class="navbar-link" href="#">Services</a></li>
                <li><a class="navbar-link" href="#">Blogs</a></li>
                <li><a class="navbar-link" href="./appointment.html">Book Appointment</a></li>
                <li id="login"><a class="navbar-link" href="./login.html">Log In</a></li>
                <li id="signup"><a class="navbar-link" href="./signup.html">Join Us</a></li>
            </ul>
        </nav>

        <div class="mobile-navbar-btn">
            <ion-icon name="menu-outline" class="mobile-nav-icon"></ion-icon>
            <ion-icon name="close-outline" class="mobile-nav-icon"></ion-icon>

        </div>
    </header>
    <h1 id="hd">My Appointments</h1>
    <div id="bigcont">
    </div>
</body>
<script src="../Scripts/navbar.js"></script>
<script src="../Scripts/myAppointments.js"></script>
</html>