@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

#c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#c>h1 {
    margin-left: 20px;
}

#c>button {
    margin-right: 20px;
    font-size: 15px;
    width: 80px;
    height: 30px;
    background-color: #9B59B6;
    color: white;
    border: none;
    border-radius: 5px;
}
#logout:hover{
    cursor: pointer;
}
#bigcont {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.date,
.status,
.slot,
.expert {
    font-size: 20px;
    margin: 10px;
}

.bg {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.canc {
    font-size: 15px;
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.conf {
    font-size: 15px;
    width: 80px;
    height: 30px;
    background-color: rgb(9, 254, 13);
    color: white;
    border: none;
    border-radius: 5px;
}

.canc:hover,.conf:hover{
    cursor: pointer;
}