
/* CSS for Footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    margin-top: 10px;
    background-color: white;
    font-weight: normal;
    background-color:rgb(196, 177, 177);
    color:rgb(26, 24, 24);
    padding: 10px;
  }
  
  #Fmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .bottom {
    margin: 10px;
    flex-basis: 220px;
    flex-grow: 1;
  }
  
  .bottom > ul {
    list-style-type: none;
    padding: 0;
  }
  
  .bottom > ul > li {
    font-size: 18px;
   
    /* border: 1px solid blue; */
    margin: 8px auto;
    font-weight: normal;

    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }
  
  .bottom>ul :nth-child(1){
    font-weight: bold;
    /* border: 1px solid red; */
    /* border-bottom: 1px solid #666; */
    /* width: 80%; */
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* font-size: 18px; */
}

  
  .bottom > ul > svg {
    margin-right: 10px;
    vertical-align: middle;
  }

  .container{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .term{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   margin-top: 10px;
    justify-content: space-evenly;
    font-size: 12px;
    /* font-weight: 200; */

  }
  



  /* RESPONSIVE DESIGN */

@media(max-width:992px){
  
}


@media(max-width:576px){
.term{
    grid-template-columns: repeat(2,1fr);
}
}
