@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;

}

.header{
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7f5ff;
}

.header .logo{
    height: 80px;
    width: 80px;
    border-radius: 20px;
}

.navbar-list{
    display: flex;
    gap: 4.0rem;
    list-style: none;
}
.navbar-link:link, 
.navbar-link:visited
{
display: inline-block;
text-transform: uppercase;
text-decoration: none;
font-size: 1.7rem;
font-weight: 500;
color: #212529;
transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
    color: blue;
}

.mobile-nav-icon{
    width: 4rem;
    height: 4rem;
    color: #212529;
}

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon[name="close-outline"]{
    display: none;
}


/* responsive */

/* 980px  */
@media (max-width: 62em) {
    .mobile-navbar-btn {
      display: block;
      z-index: 999;
      border: 3px solid #212529;
      color: #212529;
    }
  
    .header {
      position: relative;
    }
  
    /* .header .logo {
      width: 20%;
    } */
  
    .navbar {
      /* display: none; */
      width: 100%;
      height: 100vh;
      background: #e7f5ff;
      position: absolute;
      top: 0;
      left: 0;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      /* to get the tranisition  */
      transform: translateX(100%);
      transition: all 0.5s linear;
  
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    .navbar-list {
      flex-direction: column;
      align-items: center;
    }
  
    .active .navbar {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
      display: block;
    }
  
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
      display: none;
    }
  }
  
  /* Below 560px  */
  @media (max-width: 35em) {
    .header {
      padding: 0 2.4rem;
    }
/*   
    .header .logo {
      width: 25%;
    } */
  }